:root {
    --blue-color: 0, 67, 156;
    --dark-color: 31, 31, 31;
    --font-base-color: 0,0,0;
    --ms-warning-color: 205, 61, 15;
    --h-header-top: 40px;
    --h-header-bottom: 100px;
}

*::first-letter {
    text-transform: uppercase;
}

body {
    min-width: 300px;
    font-family: "Helvetica, arial, sans-serif";
    overflow-x: hidden;
    font-size: 1.1rem;
}
.header {
    z-index: 100;
}
.header-top .logo {
    height: var(--h-header-top);
    width: 100px;
}
.ms-chevron-down {
    content: url("../img/chevron-down-solid.svg");
    height: 0.8rem;
}
.ms-btn-warning {
    background-color: rgb(var(--ms-warning-color));
}
.fill-white {
    fill:white;
}
.bg-black {
    background-color: rgb(var(--font-base-color));
}

.pt-6 {
    padding-top: 6rem!important;
}
.px-6 {
    padding-right: 6rem!important;
    padding-left: 6rem!important;
}
.image {
    height: 200px;
    width: 100%;
}
img.position-absolute {
    height: 100%;
    top: 0;
    left: 0;
}
.header-bottom form a:hover {
    cursor: pointer;
}
.collapse#dropdown hr {
    height: 2px;
    width: 100%;
}

#header-jumbo {
    background-image: url("../img/jumbo-bg.png");
    height: 700px;
    padding-top:100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#main-jumbo {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#header-jumbo .position-absolute, #main-jumbo .position-absolute {
    bottom: 50px;
    left: 20px;
}
.logo {
    max-width: 100%;
}

.ms-border {
    padding: 0.25rem!important;
}
.ms-w-90 {
    width: 95%;
}
.ms-rounded {
    border-radius: 1.2rem;
}
.ms-rounded-mini {
    border-radius: 0.9rem;
}
#title-label-blue {
    font-size: 1rem;
}
h1,h2,h3,h4 {
    font-weight: 700;
}
.ms-font-2 {
    font-size: 1.5rem;
}
.border-bottom-thumb {
    border-bottom: 2px solid;
}
.ms-ul-sub {
    list-style-type: disc;
}

.header-bottom a:focus {
    color: blue!important;
}
.header-bottom a:focus .ms-chevron-down{
    transform: rotate(180deg);
}

.header-bottom a.collapsed {
    color: black!important;
}
.header-bottom a.collapsed .ms-chevron-down{
    transform: rotate(360deg);
}