:root {
    --blue-color: 0, 67, 156;
    --dark-color: 31, 31, 31;
    --font-base-color: 0,0,0;

    --h-header-top: 40px;
    --h-header-bottom: 100px;
}

*::first-letter {
    text-transform: uppercase;
}

body {
    min-width: 300px;
    font-family: "Helvetica, arial, sans-serif";
    overflow-x: hidden;
}
.header {
    z-index: 100;
}
.header-top .logo {
    height: var(--h-header-top);
    width: 100px;
}
.ms-rounded-circle {
    border-radius: 2em;
}
.ms-chevron-down {
    content: url("../img/chevron-down-solid.svg");
    height: 0.8rem;
}
.fill-white {
    fill:white;
}
.bg-black {
    background-color: rgb(var(--font-base-color));
}

.pt-6 {
    padding-top: 10rem!important;
}
.px-6 {
    padding-right: 6rem!important;
    padding-left: 6rem!important;
}
.image {
    height: 200px;
    width: 100%;
}
.header-bottom,
.header-bottom span,
.header-bottom button,
.header-bottom a {
    font-size: 1.1rem;
}
img.position-absolute {
    height: 100%;
    top: 0;
    left: 0;
}
.header-bottom form a:hover {
    cursor: pointer;
}
.collapse#dropdown hr {
    height: 2px;
    width: 100%;
}