:root {
    --blue-color: 0, 67, 156;
    --dark-color: 31, 31, 31;
    --font-base-color: 0,0,0;

    --h-header-top: 40px;
    --h-header-bottom: 100px;
}

*::first-letter {
    text-transform: uppercase;
}

body {
    min-width: 300px;
    font-family: "Helvetica, arial, sans-serif";
    overflow-x: hidden;
}
.header-top svg {
    height: var(--h-header-top);
    width: 100px;
}
.ms-rounded-circle {
    border-radius: 2em;
}
.fill-white {
    fill:white;
}
.bg-black {
    background-color: rgb(var(--font-base-color));
}

.pt-6 {
    padding-top: 10rem!important;
}
.image {
    height: 200px;
    width: 100%;
}

.header-bottom svg.position-absolute {
    height: 100%;
    bottom: 0;
}
